* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* --------------------헤더-------------------- */
#header {
  opacity: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding: 10px;
}

/* --------------------메인화면-------------------- */
#main_con {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* --------------------메인 왼쪽-------------------- */
#main_con .left {
  display: flex;
  align-items: center;
  padding-left: 150px;
  width: 50%;
  height: 100%;
  background: skyblue;
  font-size: 4rem;
  font-weight: 900;
}

/* --------------------메인 오른쪽-------------------- */
#main_con .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 2rem;
}
.right p {
  margin-bottom: 30px;
}

/* --------------------work 섹션-------------------- */

